.bd-links__title {
  display: none;
}

.cell_input.docutils.container,
.output.stream {
  background-color: inherit !important;
  border-radius: 4px !important;
}

.cell.docutils.container {
  padding-right: 0 !important;
}

.cell_output.docutils.container {
  padding-left: 0 !important;
}
.announcementbar {
  /* position: sticky; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.announcementbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.announcementbar-message {
  flex-grow: 1;
  text-align: center;
}

.announcementbar a {
  color: #ffffff;
  text-decoration: underline;
}

.announcement-close-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 4px 7px 4px 7px;
  margin-left: 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.announcement-close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.announcement-close-button:active {
  transform: scale(0.95);
}

.announcement-close-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .announcementbar {
    font-size: 14px;
  }

  .announcementbar-content {
    flex-direction: column;
  }

  .announcement-close-button {
    margin-top: 5px;
  }
}
